<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Add this to <head> -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />


    <script src="https://unpkg.com/vue"></script>
    <!-- Add this after vue.js -->
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <style>
        /** import 영역 **/
        
        @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
        body * {
            /** 폰트 영문 이름 지정 **/
            font-family: 'Jeju Gothic', sans-serif;
        }
    </style>
</head>

<body>

    <div id="exfor" class="m-3">
        <b-form-input type="text" v-model="keyword"></b-form-input>
        <div v-for="(val,index) in filtered">
            <span>{{val.name}}</span>
            <span>{{val.age}}</span>
        </div>

    </div>
</body>
<script>
    var exfor_app = new Vue({
        el: "#exfor",
        data: {
            userInfos: [{
                    name: "배진영",
                    age: "20"
                }, {
                    name: "윤은식",
                    age: "20"
                }, {
                    name: "이수현",
                    age: "20"
                }, {
                    name: "홍남수",
                    age: "20"
                }, {
                    name: "오용훈",
                    age: "19"
                }

            ],
            keyword: ""
        },
        computed: {
            filtered: function() {
                var keyword = this.keyword;
                return this.userInfos.filter(function(item, index) {
                    if (item.name.indexOf(keyword) > -1) {
                        return 1;
                    }
                })
            }
        }
    })
</script>

</html>